
/* Titulo */
.navigation-title {
    text-transform: lowercase; 
    font-size: 40 px;
    color: red;
}

h1 {
    color: red;
}

/*Estilos para las imagenes*/
img {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
img[src*="#fullsize"] {
    width:100%;
}
img[src*="#thumbnail"] {
    width:200px;
}